/* 태그들의 기본값을 초기화 내용,
공통으로 사용할 스타일들 작성, */
html,body{margin: 0; font-size: 16px;} /* 블럭요소로 마진이 있으니 초기화, */
h1,h2,h3,h4,p,figure{margin: 0;} /* 블럭요소로 마진이 있으니 초기화 */
ul,li{list-style-type: none; margin: 0; padding: 0;}
img{vertical-align: middle;}
a{text-decoration: none;} /* 기본적으로 가지고 있는 밑줄 없애기 */
table{border-collapse: collapse;} /* 줄간 여백없애기 */
fieldset,legend{margin: 0; padding: 0;}
input{}
select{}
textarea{}

span,i,b,mark,strong{display: inline-block;} /* 인라인요소니까.. ex) 인라인블록등.. */

*{  /* 공통 */
    box-sizing: border-box;
    color: #fff;
    font-size: 1rem; /* rem은 곱하기 단위 2rem 은 32px, 기본픽셀은 위의 html, body 에서 정했음, 최상위 태그가 가지고 있는 폰트사이즈 곱하기, em은 부모가 가지고 있는 사이즈의 곱하기 */

}

